# prevent older versions of OpenMPI (1.10.x and earlier?) from hanging if one of
# the ranks exits with non-zero status.  this forces the ORTE layer to continue
# execution for the remaining ranks and avoids a hang.  this is needed for the
# testing frameworks (benchmarks and validation) so they do not periodically
# hang during execution.
orte_abort_on_non_zero_status = 0
